body{
    font-family: Arial, Helvetica, sans-serif;
    overflow: visible;
}
.maincontainer{
    display: flex;
}
h1{
    color: blue;
    margin-left: 40px;
    margin-top: 50px;
}
.input-box{
    width: 350px;
    height: 40px;
    margin-left: 40px;
    position: relative;
    z-index: 10;
}
.input-field{
    color: gray;
    margin: 20px;
    margin-left: 40px !important;
}
.input-image{
    color: gray;
    margin-top: -97px;
    margin-left: 457px !important;
    margin-bottom:20px !important;
    position: relative;
    z-index: 5;
}
.color-picker{
    margin-left: 457px !important;
    border: none;
    outline: none;
}
#imageInput{
    margin-left:457px;
    margin-bottom:30px;
    z-index: 5;
}
.generate-button{
    margin-left: 40px;
    margin-top: 20px;
    background-color: blue;
    color: white;
    height: 40px;
    width: 125px;
    border-color: blue;
    border-radius: 20px;
    font-size: 14px;
}
.dropbox{
    width: 350px;
    height: 40px;
}
.display-image{
    display: flex;
    margin-right: 300px; 
    margin-top: 60px; 
}
.output{
    position: relative;
    display: inline-block;
}
#displayImage{  
    width: 450px !important;
    height: 350px !important;
    aspect-ratio: 1/1;
}
#topTextOverlay, #bottomTextOverlay{
    text-align: center;
}
.text-overlay{
    position: absolute;
    width: 100%;
    text-align: center;
}
.top-text {
    top: 10px;
}
.bottom-text{
    bottom: 147px;
}
.download-button{
    background-color: blue;
    color: white;
    height: 40px;
    width: 100px;
    border-color: blue;
    border-radius: 5px;
    font-size: 14px;
}
.save-image{
    margin-left: 1245px; 
    margin-top: -190px;
}
.delete{
    margin-bottom:-22px;
    margin-left:655px !important;
    position: relative;
    z-index: 15;
}
